* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    height: 100%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(42,211,111);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo h1 {
    margin-bottom: 5px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions #meusAgendamentosButton,
.actions #sairButton {
    background-color: rgb(42,211,111);
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
}

.actions #meusAgendamentosButton:hover,
.actions #sairButton:hover {
    background-color: rgb(45,211,111);
}

.agendamento-container {
    flex: 1;
    background-color: #FFF;
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.agendamento-container h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 6px;
    display: block;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Lora', serif;
    margin-bottom: 15px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 12px;
    background-color: rgb(42,211,111);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(45,211,111);
}

.footer {
    background-color: rgb(45,211,111);
    color: white;
    text-align: center;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
